<!-- This is a basic html page which Flask can serve. 
It does not use the power of Flask, but is easier to read than some of the other files. 
-->

<!DOCTYPE html>
<html>

<!-- learn more about what belongs in head and how it is used here 
https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML -->
<head>
	<title>Where are you from Foundation Class</title>
	<meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/styles.css">
</head> 
<body>
    <div class="container">
        <h1>Hi, Foundation Class!</h1>
        <img src="{{url_for('static',filename='worldmap.jpg')}}">
        <p> Let's share to the class where you are came from. </p>
        <a href="first-page.html">Tell us where you are from</a>
    </div>
    
</body>
</html>